@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,700i,900&subset=cyrillic');

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	font-size: 15px;
	line-height: 24px;
	color: #052A40;
}

ol {
	list-style-type: none;
	counter-reset: num; 
	padding-left: 0;
}
li {
	font-size: 15px;
	padding-top: 12px;
}

li::before {
	content: counter(num) '. ';
	counter-increment: num; 
	color: #00BCF0;
	font-weight: bold;
	font-size: 18px;
	padding-right: 12px;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.wrapper__case {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.header {
	background: url(../img/head-img.png) center center no-repeat;
	height: 528px;
	background-size: cover;
	margin-bottom: 120px;
}	

.header__logo {
	text-align: center;
	padding: 192px 0 24px 0;
}
.header__logo span {
	display: block;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 48px;
	font-size: 36px;
	padding: 72px 36px;
}

.rectangle {
	background: #00BCF0;
    width: 180px;
    height: 3px;
	margin-bottom: 21px;
}

.title__block {
	font-weight: bold;
	line-height: 36px;
	font-size: 30px;
	color: #052A40;
	margin-bottom: 60px;
}

/*------------------About Clients------------------ */


.clients__left {
	max-width: 70%;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 120px;
}
.clients__left span {
	display: block;
	font-size: 18px;
	color: #052A40;
	font-weight: bold;
	padding-top: 12px;
}

.clients__left a {
	color: #00BCF0;
	text-decoration: none;
	word-wrap: break-word;
}

.clients__right {
	max-width: 282px;
}
.clients__desc {
	text-align: center;
	padding-top: 24px;
	font-weight: bold;
	font-size: 16px;
}

.clients__desc span {
	display: block;
	font-weight: normal;
	padding-top: 12px;
}


/*------------------Stages------------------ */

.stage__left {
	max-width: 49%;
	font-size: 16px;
}
.stage__left img {
	max-width: 100%;
}
.stage__left--position, .stage__right--position {
	padding-top: 72px;
	margin-bottom: 120px;
}

.stage__right {
	max-width: 51%;
}

.stage__title {
	font-size: 24px;
	font-weight: bold;
	line-height: 36px;
	padding-bottom: 24px;
}

.stage__item {
	padding-right: 24px;
}
.stage__item img {
	border: 1px solid #F5F5F5;
	box-sizing: border-box;
	border-radius: 3px;
}
.stage__item span {
	display: block;
	text-align: center;
	color: #596870;
	font-size: 14px;
}
.stage__item:last-child {
	padding-right: 0;
}

.stage__list {
	padding-bottom: 12px;
}

.stage__list span {
	font-size: 18px;
	color: #00BCF0;
	font-weight: bold;
	padding-right: 12px;
}

.stage__bullet {
	list-style: none;
	padding: 0;
	margin: -5px 0 50px 20px;
}
.stage__li::before {
	content: '';
	display: inline-block;
	background: #00BCF0;
	width: 12px;
	height: 2px;
	vertical-align: middle;
	border: solid #FFF;
	border-width: 0 12px;

}

.stage__border {
	border: 2px solid #DCE1E5;
}
.stage__right-desc, .stage-two__desc {
	font-weight: bold;
	font-size: 16px;
	max-width: 516px;
	margin: 0 auto;
	padding: 24px 0;
}

.stage-two__desc a {
	text-decoration: none;
	color: #00BCF0;
}

.stage-two__wrap {
	max-width: 894px;
	font-size: 16px;
}

.stage-two strong {
	font-size: 18px;
}

.stage-two a {
	font-weight: bold;
	text-decoration: none;
	color: #00BCF0;
}

.stage-two__right img {
	max-width: 100%;
	border: 1px solid #F5F5F5;
	box-sizing: border-box;
	border-radius: 3px;
}

.stage-two figure {
	padding-top: 84px;
	margin: 0;
	text-align: center;
}
.stage-two figure img { 
	max-width: 100%;
}

.stage-two figure figcaption {
	line-height: 24px;
	font-size: 14px;
	text-align: center;
	color: #596870;	
	margin-bottom: 72px;
}
.stage-two__left {
	max-width: 49%;
}

.stage-two__quote {
	padding-top: 48px;
}
.stage-two__quote-img {
	margin-right: 6px;
}

.stage-two__right span {
	display: block;
	text-align: center;
	color: #596870; 
	font-size: 14px;
}

.stage-two__quote-desc {
	max-width: 516px;
	font-style: italic;
}
.stage-two__quote-desc span {
	display: block;
	font-style: normal;
	font-weight: bold;
	color: #596870;
	padding-top: 12px;
}

.stage-two__result {
	background: #F5F5F5;
    padding: 24px 102px 24px 102px;
    border-left: 6px #DCE1E5 solid;
    margin-bottom: 120px;
	color: #596870;
	font-size: 16px;
}
.stage-two__result a {
	font-weight: bold;
	color: #00BCF0;
	word-wrap: break-word;
}


.total__item {
	display: flex;
}

.total__item::before {
	content: '';
	background: url(../img/check.png) no-repeat center center;
	width: 48px;
	height: 49px;
}

.total__check {
	max-width: 540px;
	font-size: 16px;
	padding-top: 14px;
	margin-bottom: 12px;
}

.total__check a {
	font-weight: bold;
	text-decoration: none;
	color: #00BCF0;
}

.total__check span {
    font-size: 18px;
    color: #00BCF0;
    font-weight: bold;
	padding-right: 12px;
	padding-left: 6px;
}

.review__left {
	max-width: 180px;
}
.review__right {
	max-width: 924px;

}

.review__logo {	
	width: 180px;
	height: 180px;
	background: #F5F5F5;
	border-radius: 3px;
	display: flex;
	justify-content:center;
	align-items:center;
}

.review__logo img {
	width: 156px;
}

.review__name {
	text-align: center;
	font-size: 16px;
	padding-top: 12px;
}

.review__title {
	font-weight: bold;
	line-height: 36px;
	font-size: 24px;
}

.review__blockquote {
	font-style: italic;
	margin: 0;
	position: relative;
}

.review__blockquote::before {
	content: '';
	background: url(../img/colon.png) no-repeat;
	width: 36px;
	height: 30px;
	position: absolute;
    margin-left: -50px;
}
.review__link a {
	color: #00BCF0;
	text-decoration: none;
}


.review__link a::after {
	content: '';
	background: url(../img/reviews.png) no-repeat center center;
	width: 24px;
	height: 24px;
	position: absolute;
	margin-left: 6px;
}
.review__date {
	color: #596870;
}

.review__border {
	margin: 12px 0;
	border: 1px solid #DCE1E5;
}
.review__contact {
	font-size: 16px;
}
.review__contact a {
	padding-left: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #00BCF0;
	word-break: break-word;
}


@media (max-width: 1100px) {
	.row--column {
		flex-direction: column;
		align-items: center;
	}
	.row--center {
		justify-content: center;
	}
	.stage__item {
		padding: 0;
	}
	.row--column-r {
		flex-direction: column;
		align-items: center;
	}
	.clients__left, .stage__left, .stage__right, .stage-two__left {
		max-width: 100% !important;
	}
	.stage__left--position, .stage__right--position {
		margin-bottom: 0;
		padding-top: 0;
	}
	.stage__border--marg {
		margin-bottom: 120px;
	}
}

@media (max-width: 750px) {
	.header__logo {
		padding: 142px 0 24px 0;
	}
	.header__logo span {
		font-size: 26px;
		line-height: 36px;
		padding: 72px 0;
	}
	.header, .clients__left, .stage-two__result, .stage__border--marg {
		margin-bottom: 0;
	}
	.rectangle {
		margin-top: 84px;
	}
	.stage-two__quote-desc {
		max-width: 72%;
	}
	.stage-two__result {
		padding: 24px;
	}
	.title__block {
		font-size: 22px;
		margin-bottom: 48px;
	}
	.clients__left, .stage__title, .review__title {
		font-size: 20px;
		line-height: 24px;
	}
	.clients__right {
		max-width: 100%;
		padding-top: 36px;
	}
	.clients__desc span {
		padding-top: 0;
	}
	.stage__item {
		padding-bottom: 24px;
	}
	.stage__left.stage__left--position img {
		display: none;
	}
	.stage-two__right {
		padding-top: 36px;
	}
	.total__check {
		max-width: auto;
		width: calc(100% - 50px); 
	}
	.review__contact a {
		padding-left: 0;
	}
	.review__title {
		padding-top: 72px;
	}
	.review__blockquote::before {
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -90px;
	}
	.stage__right-desc {
		padding: 24px 32px;
	}
}